# 依赖解析行为
auto-install-peers=true
strict-peer-dependencies=false

# 存储优化
virtual-store-dir-max-length=120

# 依赖提升规则（匹配所有声明的模式）
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=*vite*
public-hoist-pattern[]=@vitejs/*
public-hoist-pattern[]=*vue*
public-hoist-pattern[]=@vue/*
public-hoist-pattern[]=*dts*
